@import url('../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/all.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/brands.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/v4-shims.css');

body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.xadrez-linha {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
